package ${package}.${moduleName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${package}.${moduleName}.entity.${className};

/**
 * 类功能说明：${comments}数据访问接口 <br/>
 * 类修改者：<br/>
 * 修改日期：<br/>
 * 修改说明：<br/>
 * 公司名称：广东以大供应链管理有限公司 <br/>
 * 作者：${author}
 * 邮箱：${email}
 * 创建时间：${datetime}
 * 版本：V1.0 <br/>
 */
public interface ${className}Mapper extends BaseMapper<${className}> {

}
